SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=domi_messager
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173

# WhatsApp Business API (add when ready)
WHATSAPP_BUSINESS_ACCOUNT_ID=1688474855665056
WHATSAPP_API_TOKEN=EAA5DZCn02dBsBRSZAC3HLmXTtTPSx3BGZAj4noNTSRURxZC9MEB6eWsGTuHRkDOdJzhsZBVBmIqPMBRZCPsCfZClxFKOwCUPoslYlCYKHkbZCwqbX6VLsKZCDQd3If5P1Y5Ie6tLZBxi4366FVaFEDndXZAGxEgYn2xyqPTh13BdR5ExLK1t4vnIGbdbv5jQl8zL99CerGq2coON95WQIatT21f4hbXHKDdJd6xJdJn2LganyqKxoFZAADZB2ZB9bIVtWfBJtSQ6qUkg0OmJPK0sWtZAsvW
WHATSAPP_PHONE_NUMBER=1121790094350602

# Message retention in minutes — messages and media older than this are deleted (0 = disabled)
MESSAGE_RETENTION_MINUTES=0
